/* -------------
    Google Fonts
-------------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;800&display=swap');

/* ---------------------
    Universel Code
---------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------
    Body and Basic code
---------------------- */
body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  background: var(--bg-primary-color);
}

.container {
  max-width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 4rem 1rem;
}

h1,
h2 {
  font-weight: 800;
}

h3,
h4 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.btn {
  position: relative;
  font-size: 1.2rem;
  padding: 6px 16px;
  background-color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 1.5px;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  transition: var(--transition);
  color: var(--secondary-color);
  border-radius: 5px;
  display: inline-block;
}

.btn:hover {
  background: var(--bg-secondary-color);
}

.extra--btn {
  padding: 0 8px;
  border: 1px solid var(--primary-color);
  outline-offset: 6px;
  color: var(--secondary-color);
  transition: var(--transition);
}

.extra--btn:hover {
  color: var(--primary-color);
}

/* ------------------
    Custom Property
-------------------- */
:root {
  --primary-color: #35bdd0;
  --secondary-color: #cad5e2;
  --accent-color: #758283;
  --bg-primary-color: #120e43;
  --bg-secondary-color: #03203c;
  --box-shadow: 15px 15px 40px rgba(255, 255, 255, 0.4),
    -15px -15px 40px rgba(255, 255, 255, 0.4);
  --transition: all 0.5s ease-in-out;
  --simple-dark: rgba(0, 0, 0, 0.4);
}

/* --------------
    Header
---------------- */
.header {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  color: #35bdd0;
  border-bottom: 4px solid var(--primary-color);
}

.navigation .nav__menu {
  display: flex;
}

.nav__item {
  list-style: none;
  margin: 0 1.2rem;
}

.nav__list {
  font-size: 1.2rem;
  transition: var(--transition);
}

.nav__list:hover {
  color: var(--primary-color);
}

/* -----------------
    Hero Section
------------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 100px;
  align-items: center;
  margin-bottom: 4rem;
}

.hero--img__box .hero__img {
  width: 100%;
  background-color: var(--primary-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 10px;
  border: 10px solid var(--secondary-color);
}

.hero--info .hero--heading {
  letter-spacing: 1.8px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 0.6rem;
  color: var(--secondary-color);
}

.hero--info .hero--description {
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.hero--info .hero--small__text {
  font-size: 14px;
  padding: 6px 16px;
  color: var(--bg-primary-color);
  background-color: var(--primary-color);
}

.hero__btn {
  margin-top: 1rem;
}

.primary--color {
  color: var(--primary-color);
}

/* ----------------
    Paints Brand Name
---------------- */
.paint--box {
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.paint--box .paint--icon {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 0.8rem;
}

.paint--brandName__heading {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

/* ------------------
    Services Section
-------------------- */
.service--head__box {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
}

.service--heading {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.service--description {
  color: var(--accent-color);
  text-align: justify;
}

.card {
  height: 320px;
  padding: 1rem;
  box-shadow: 0 20px 40px var(--simple-dark);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 70px;
  width: 100px;
  height: 15px;
  background: linear-gradient(to top, #ffffff, var(--bg-secondary-color));
  border-radius: 50%;
}

.card::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 100px;
  width: 60px;
  height: 300px;
  filter: blur(60px);
  background: linear-gradient(white, white);
  border-radius: 50%;
}

.service--card__heading {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: 0.8rem 0;
  text-transform: capitalize;
}

.service--card__description {
  font-size: 0.9rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.service--card--btn {
  padding: 6px;
  font-size: 0.8rem;
  position: absolute;
  right: 15px;
  bottom: 25px;
}

/*--------------------
    About Section
-------------------- */
.about--info .about--heading {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.about--info .about--description {
  color: var(--accent-color);
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  margin-bottom: 1.2rem;
  text-align: justify;
}

.about__img{
    border-left: 4px solid;
    border-image: linear-gradient(var(--accent-color),var(--primary-color));
    border-image-slice: 1;
}



/* ----------------
    Project Section
------------------ */
.project--img__box .project__img{
    border-left: 4px solid;
    border-image: linear-gradient(var(--accent-color),var(--primary-color));
    border-image-slice: 1;
}

.project--heading{
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.project--description{
    color: var(--accent-color);
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  margin-bottom: 1.2rem;
  text-align: justify;
}

.project--rating{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.project--rating .star{
    color: var(--secondary-color);
}

.project--rating .point{
    color: var(--accent-color);
}


/* -----------------
    Subscribe
------------------- */
.subscribe{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.subscribe--content{
    max-width: 350px;
    text-align: center;
}

.subscribe--heading{
    font-size: 1.8rem;
    margin-bottom: .8rem;
    color: var(--secondary-color);
}

.subscribe--description{
    color: var(--accent-color);
   margin-bottom: .8rem;
}

.subscribe__btn{
    background-color: var(--bg-primary-color);
}

.subscribe__btn:hover{
    color: var(--bg-secondary-color);
    background-color: var(--primary-color);
}


/* --------------------
    footer
--------------------- */
.footer{
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    color: var(--secondary-color);
    border-bottom: 4px solid var(--primary-color);
}

.footer--heading{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: .8rem;
}

.footer--item{
    list-style: none;
    margin-bottom: .4rem;
}

.footer--list:hover{
    color: var(--primary-color);
}


.footer--flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}











/* ---------------------
    Media Queries
---------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Header */
  .header {
    flex-direction: column;
    border-bottom: 2px solid var(--primary-color);
  }

  .logo {
    margin-bottom: 20px;
    padding: 4px;
    border: 1px solid var(--primary-color);
  }

  .navigation .nav__menu {
    flex-direction: column;
  }

  .nav__item {
    margin-bottom: 1.2rem;
  }

  /* Hero section */
  .hero__img {
    margin-bottom: 1.2rem;
  }
  .hero--info .hero--heading {
    font-size: 2rem;
  }
}
